dev.py
db.sqlite3
.env
.env.dev
.env.prod
*.py[cod]
*$py.class
*__pycache__/
.venv/
venv/
env/
*.egg-info
dist/
build/
*.pot
*.log
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
staticfiles
dumb.rst
backups/
supervisord.pid
supervisord.log
docker-compose.prod.yml