#footer {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-top: solid;
  border-width: thin;
  margin-top: auto;
}
.footer__p {
  color: var(--footer-text-color);
}
.footer__p a {
  color: var(--footer-link-color);
  cursor: pointer;
}
