#dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 100%;
}

.dashboard-header h1 {
  color: #333;
  text-align: center;
  margin: 50px;
}

.dashboard-tabs {
  display: flex;
  justify-content: space-between;
  /* background-color: #fff; */
  padding: 10px;
  box-shadow: 0 0 15px var(--primary-bg-color);
}

.tab-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.tab-button.active {
  background: var(--primary-btn-bg-color);
}

.tab-content {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

/* media queries ----------------- media queries */
/* media queries ----------------- media queries */
/* breakdown 440px and bellow */