#dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-header h1 {
  color: var(--primary-text-color);
  text-align: center;
  margin: 50px;
}

.dashboard-tabs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 15px var(--primary-bg-color);

  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
  gap: 10px; /* Add spacing between buttons */
}

.tab-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  flex: 1; /* Makes buttons equal width */
}

.tab-button.active {
  background: var(--primary-btn-bg-color);
}

.tab-content {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

/* media queries ----------------- media queries */
/* media queries ----------------- media queries */
/* breakdown 440px and bellow */

@media (max-width: 440px) {
  .dashboard-tabs {
    flex-direction: column; /* Stack the buttons vertically */
    gap: 5px; /* Adjust gap for vertical layout */
  }

  .tab-button {
    font-size: 14px; /* Slightly smaller font size for smaller screens */
  }
  .dashboard-header h1 {
    margin: 50px 0 50px 0;
    font-size: 20px;
  }
  #dashboard {
    padding: 5px;
  }
}
