body {
  font-family: var(--body-text-font);
  color: var(--primary-text-color);
  background-color: var(--body-bg-color);
  overflow-x: hidden;


  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main {
  /* height: 100vh; */
}
