{% extends "auto_app/base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<section id="dashboard">
  <div class="dashboard-header">
    <h1>Welcome to Autoblue {{ user.username|title }}</h1>
  </div>

  <nav class="dashboard-tabs">
    <button class="tab-button active" data-tab="tab1">Create & Schedule Post</button>
    <button class="tab-button" data-tab="tab2">Scheduled Posts</button>
    <button class="tab-button" data-tab="tab3">Bot Account Settings</button>
    <button class="tab-button" data-tab="tab4">Autoblue Settings</button>
  </nav>

  {% include './partials/create_tab.html' %}
  <!--  -->
  {% include './partials/scheduled_tab.html' %}
  <!--  -->
  {% include './partials/bot_setting_tab.html' %}
  <!--  -->
  {% include './partials/website_tab.html'%}
</section>

{% endblock %}

<!--  -->

{% block page_js %}
<script src="{% static 'auto_app/javascript/pages/dashboard.js' %}"></script>
<script src="{% static 'auto_app/javascript/pages/partials/create_tab.js' %}"></script>
<script src="{% static 'auto_app/javascript/pages/partials/scheduled_tab.js' %}"></script>
<script src="{% static 'auto_app/javascript/pages/partials/bot_setting_tab.js' %}"></script>
<script src="{% static 'auto_app/javascript/pages/partials/website_tab.js' %}"></script>

{% endblock %}
