<div class="tab-content" id="tab1" > 
  <button class="create-btn">Create Post</button>

  <div id="modal">
    <div class="modal-content">
      <!-- <div class="modal-btns">
        <button class="cancel-btn">Cancel</button>
        <button class="schedule-btn" type="submit">Schedule</button>
      </div> -->

      <form action="/save_schedules/" , method="post" id="post-form">
        <div class="modal-btns">
          <button class="cancel-btn">Cancel</button>
          <button class="schedule-btn" type="submit">Schedule</button>
        </div>
        {% csrf_token %}
        <textarea
          name="post_text"
          id="content-input"
          placeholder="What's up?"
          required
        ></textarea>
        <div class="content-utilities">
          <span> Date and Time: </span>
          <input type="datetime-local" name="date_time" required min="{{min_date}}" />
          <span class="word-count">300</span>
        </div>
      </form>
    </div>
  </div>
</div>
