<div class="tab-content" id="tab1">
  <button class="create-btn">Create Post</button>

  <div id="modal">
    <div class="modal-content">
      <div class="modal-btns">
        <button class="cancel-btn">Cancel</button>
        <button class="schedule-btn">Schedule</button>
      </div>

      <form action="">
        <!-- <input type="text" id="content-input" placeholder="What's up?"> -->
        <textarea name="" id="content-input" placeholder="What's up?" ></textarea>
      </form>
      <div class="content-utilities">
        <span class="word-count">300</span>
      </div>
    </div>
  </div>
</div>
