:root {
  --body-text-font: Arial, sans-serif;
  --primary-bg-color: #5d62ff;
  --primary-text-color: black; /* wheat; */
  --primary-btn-bg-color: #33b249;

  /* --nav-bg-color: #5d62ff; */
  --nav-txt-color: wheat;
  --nav-btn-bg-color: #33b249;
  --nav-hover-color: rgb(103, 107, 95);

  /* --footer-bg-color: #5d62ff; */
  --footer-text-color: wheat;
  --footer-link-color: blue;
}
